@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-primary: 52, 48, 255;
  --background-secondary: 246, 247, 255;
  --foreground: #171717;
  --text-primary: 52, 48, 255;
  --text-seconday: 99, 96, 255;
  --link-highlight: #3430ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-primary: 52, 31, 166;
    --background-secondary: 238, 239, 255;
    --foreground: #ededed;
    --text-primary: 52, 31, 166;
    --text-seconday: 99, 96, 255;
    --link-highlight: #3430ff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-secondary {
    background-color: rgb(var(--background-secondary));
  }

  .text-secondary {
    color: rgb(var(--text-seconday));
  }

  .text-primary {
    color: rgb(var(--text-primary));
  }

  .text-primary-500 {
    color: rgba(var(--text-primary), .9);
  }

  .bg-primary {
    background-color: rgba(var(--background-primary));
  }

  .bg-primary-500 {
    background-color: rgba(var(--background-primary), .9);
  }

  .highlight {
    color: var(--link-highlight);
  }

}

.container {
  max-width: 1280px;
}
